body {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(121, 121, 121);
    background-image: url("https://www.freeiconspng.com/thumbs/pokeball-png/pokeball-transparent-png-2.png");
    background-size: 10%;
    background-repeat: repeat;
    margin: 0;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 8px 0;
    text-align: center;
}

caption {
    position: relative;
    display: block;
}

h1 {
    margin-bottom: 4px;
}

input {
    font-size: 8px;
    font-family: 'Press Start 2P', cursive;
    margin-right: 16px;
    background-color: rgb(245, 231, 31);
    color: rgb(49, 49, 49);
    border-radius: 6px;
    padding: 8px;
}

button {
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(40, 86, 214);
    color: white;
    border-radius: 10px;
    margin-right: 8px;
    padding: 16px;
}

table {
    margin-bottom: 12px;
}

table td {
    padding: 8px;
    background-color: rgb(216, 216, 191);
    border-radius: 10px;
}

img {
    border-radius: 50%;
    min-width: 150px;
    background-color: white;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.card {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 25px;
}

.card h1 {
    font-size: 25px;
}

.card h2{
    font-size: medium;
}

.card li {
    font-size: small;
}

.card td {
    font-size: 10px;
}

.card caption {
    font-size: small;
    margin-bottom: 8px;
}

.card button {
    font-size: small;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(216, 185, 82);
    color: black;
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
}

.card button.upvote {
    font-size: small;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(83, 214, 78);
    color: black;
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
}

.card button.downvote {
    font-size: small;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(241, 100, 100);
    color: black;
    border-radius: 8px;
    margin-right: 8px;
    padding: 8px;
}

.card div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card .remaining {
    padding: 4px;
}

.card p {
    padding: 8px;
    border-radius: 10px;
    font-size: 10px;
}

.card .nominater {
    padding: 8px;
    border-radius: 10px;
    font-size: 10px;
    background-color: rgb(216, 216, 191);
}

/*  LAB 2 STYLES */